@tailwind base;
@tailwind components;
@tailwind utilities;




/* .swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  }
  .swiper-pagination-bullet {
  background: #4f46e5;
  } */

  .swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

#default-carousel div div{
  display: flex !important;
}

.sidebar {
  height: calc(100vh - 100px); /* Full viewport height minus 50px */
}